<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Sansita&family=Titillium+Web&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href=".style/designSystem.css">
    <link rel="stylesheet" href="./style/profile.css">
    <title>Profile</title>
</head>

<body>

    <div id="containerForm">
        <form action="" id="profileForm">
            <div class="responsive3lines">
                <div class="inline">
                    <div>
                        <label for="username" class="formElement"> Identifiant <i class="bi bi-pencil-fill"></i></label>
                        <input readonly="readonly" type="text" name="username" placeholder="" class="formElement input">
                    </div>
                    <div>
                        <label for="password" class="formElement"> Mot de passe <i class="bi bi-pencil-fill"></i></label>
                        <input readonly="readonly" type="password" name="password" placeholder="" class="formElement input">
                    </div>
                </div>
                <div class="inline">
                    <div>
                        <label for="lastame" class="formElement"> Nom <i class="bi bi-pencil-fill"></i></label>
                        <input readonly="readonly" type="text" name="lastname" placeholder="" class="formElement input">
                    </div>
                    <div>
                        <label for="firstname" class="formElement"> Prénom <i class="bi bi-pencil-fill"></i></label>
                        <input readonly="readonly" type="text" name="firstname" placeholder="" class="formElement input">
                    </div>
                </div>
                <div class="inline">
                    <div>
                        <label for="birthdate" class="formElement"> Date de naissance <i class="bi bi-pencil-fill"></i></label>
                        <input readonly="readonly" type="text" name="birthdate" placeholder="" class="formElement input">
                    </div>
                    <div id="radio">
                        <label for="gender" class="formElement">Sexe</label>
                        <div>
                            <input type="radio" name="gender" value="F">F 
                            <input type="radio" name="gender" value="M">M
                        </div>
                    </div>
                </div>
        </div>
        <div class="responsive3lines">
            <div class="inline">
                <div>
                    <label for="weight" class="formElement"> Poids (kgs) <i class="bi bi-pencil-fill"></i></label>
                    <input readonly="readonly" type="number" name="weight" placeholder="" class="formElement input">
                </div>
                <div>
                    <label for="height" class="formElement"> Taille (cm) <i class="bi bi-pencil-fill"></i> </label>
                    <input readonly="readonly" type="number" name="height" placeholder="" class="formElement input">
                </div>
            </div>
            <div class="inline">
                <div>
                    <label for="calories" class="formElement"> Calories journalières <i class="bi bi-pencil-fill"></i></label>
                    <input readonly="readonly" type="number" name="calories" placeholder="" class="formElement input">
                </div>
            </div>
            <div class="bottomForm">
                <button type="submit" id="profileSubmitBtn"> Valider </button>
                <a id="deleteBtn" href="#" onclick="return confirm('La suppression de votre compte est définitive. Confirmez-vous cette opération ?')"> Supprimer mon compte </a>
            </div>
        </div>
        </form>
    </div>
    <script src="js/profile.js" ></script>
</body>

</html>