p {
  margin: 2px !important;
}

/* .................................. Boutons rond IMC et Calories */
#buttonsRound {
  display: flex;
  justify-content: center;
}

#btnImc {
  background-color: #5d6671;
  border-radius: 50%;
  width: 119px;
  height: 118px;
  left: 53.98px;
  margin-top: 187px;
  text-align: center;
  margin-right: 8vw;
  color: #fffafa;
  padding-top: 1vh;
}

#btnCalories {
  background-color: #5d6671;
  width: 119px;
  height: 118px;
  margin-top: 187px;
  border-radius: 50%;
  text-align: center;
  color: #fffafa;
  margin-left: 5vw;
  padding-top: 1vh;
}
.insideButtonsRound {
  padding-top: 1vh;
}
#imcType {
  color: #f7e277;
}
#btnDetails {
  background-color: #5d6671;
  border: none;
  color: #fffafa;
  font-style: italic;
  font-size: 9px;
  text-decoration: underline;
  cursor: pointer;
}
#modalImcImage {
  width: 150px;
}
#numberCalories {
  color: #f7e277;
}

/* ....................................Boutons repas */
#buttonsMeals {
  columns: 2;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.imgMeal {
  width: 57px;
  height: 52px;
}

.btnMeal {
  width: 109.86px;
  height: 95.65px;
  left: 198px;
  top: 322px;
  background: #dc776f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btnMeal:hover {
  background-color: #fffafa;
  color: #dc776f;
}
.allBtnMeal {
  margin-bottom: 15px;
}

/* ......................................graphic */
/* #graphCalories {
  width: 264px;
  height: 167px;
  left: 50px;
  top: 544px;
} */

/* .....................................Bouton historique */
#historic {
  text-align: center;
}
#btnHistoric {
  width: 193px;
  color: #fffafa;
  background: #dc776f;
  border-radius: 10px;
  border: none;
  justify-content: center !important;
  font-family: "Biryani", sans-serif;
}

#btnHistoric:hover {
  background-color: #fffafa;
  color: #dc776f;
}
/* .................................................MODAL */
.modal-header {
  text-align: center;
}

#inputDate {
  text-align: center;
}
#dateMealModal {
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 1vh;
  border-radius: 15px;
}

.modalMeal-body {
  height: 50vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.btnModalMealForm {
  background: #dc776f;
  color: #fffafa;
  border: none;
  border-radius: 10px;
  width: 30vw;
  justify-content: center;
}

.btnModalMealForm:hover {
  background-color: #fffafa;
  color: #dc776f;
}

#titleImcModal {
  text-align: center;
}
#descriptionImcModal {
  margin-top: 15px;
  text-align: justify;
  padding-left: 4px;
  padding-right: 4px;
}
#imgImcModal {
  width: 100vw;
  margin-bottom: 3vh;
}

#modalAlertContent {
  background-color: #dc776f;
}
/* ...............................................Version desktop */
@media only screen and (min-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  /* ..............................................boutons IMC et calories */
  #buttonsRound {
    display: flex;
    columns: 2;
    place-content: start;
    margin-left: 5vw;
  }

  #btnImc {
    width: 201px;
    height: 182px;
    text-align: center;
    margin-right: 5vw;
    padding-top: 3vh;
  }

  #btnCalories {
    width: 201px;
    height: 182px;
    margin-left: 5px;
    padding-top: 3vh;
  }
  .insideButtonsRound {
    text-align: center;
    font-size: 20px;
    padding-top: 3vh;
  }

  /* ..........................................Modal */

  #dateMealModal {
    text-align: center;
  }
  .btnModalMealForm {
    justify-content: center;
    width: 10vw;
  }

  #imgImcModal {
    width: 100%;
    margin-bottom: 3vh;
  }
  /* .........................................MILIEU avec bouton repas et graph */
  #desktopVersion {
    display: flex;
    columns: 2;
  }

  .btnMeal {
    width: 193.83px;
    height: 129.93px;
    justify-content: flex-start;
  }
  .allBtnMeal {
    margin-bottom: 5vh;
    margin-right: 5vw;
  }
  #graphCalories {
    margin-left: 15vw;
  }

  /* ................Bouton historique */
  #historic {
    text-align: end;
    margin-right: 5vw;
  }
  #btnHistoric {
    width: 422.76px;
    height: 46px;
    font-size: 20px;
  }
}
