body {
    margin: auto;
    width: 100vw;
    height:100vh;
    color : rgb(60, 56, 56);
}

/* FORM */

#containerForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.inline {
    display: flex;
    margin :1em;
    font-family: 'Biryani', sans-serif;
}

.formElement {
    /* width: 50%; */
    display: block;
    margin:1em;
}

#radio {
    display: flex;
    flex-direction: column;
}

.input {
    border : none;
    border-bottom : solid 1px #DC776F;
    margin-right: 1em;
    background-color: rgba(128, 128, 128, 0.18);
}

.bi-pencil-fill{
   display: flex !important;
}

.bi-pencil-fill:hover{
    cursor: pointer !important;
}

.bottomForm {
    display: flex;
    flex-direction: column;
    padding : 0.5em;
    height : 50px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Biryani', sans-serif;
}

#deleteBtn {
    width:96%;
    text-decoration: none;
    color : #DC776F;
    font-style: italic;
}

/* Responsive -> towards desktop */

@media screen and (min-width:640px) {

    #profileForm {
        display: flex;
        margin: 3em;
    }

    button {
       width:60%;
    }

    #deleteBtn {
        width:70%;
    }

    .bottomForm {
        height : 80px; 
    }
    
} 